{% extends "bootstrap/base.html" %}

{% block title %} cloud harness {% endblock %}

{% block head %}
{{ super() }}
<link rel='shortcut icon' href='{{ url_for('static', filename='img/favicon.ico') }}'>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/vue.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/axios.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
{{super()}}
{% endblock %}

{% block content %}
<div class='container'>
    <div id='app'>

      <div class='navbar navbar-default' role='navigation'>
        <div class='container'>
          <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1'>
                <span class='sr-only'> Toggle navigation </span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
          </div>
          <div class='collapse navbar-collapse' id='bs-example-navbar-collapse-1'>
            <ul class='nav navbar-nav' v-if='signedIn'>
              <li> <a v-text='email'></a></li>
            </ul>
            <ul class='nav navbar-nav navbar-right' v-if='signedIn'>
              <li> <a @click='onLogout'>Logout</a> </li>
            </ul>
            <ul class='nav navbar-nav' v-else>
              <li> <a>
                <form @submit.prevent='onLogin' action='/'>
                  <input v-model='email' placeholder='email' type='email'>
                  <input v-model='password' placeholder='password' type='password'>
                  <input value='Log in' type='submit'>
                </form> </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div v-for='(value, key) in summary'>
        <div v-for='(count, status) in value'>
          {% raw %} {{key}} : {{status}} : {{count}} {% endraw %} 
        </div>
      </div>

      <div>
          <div class='col-md-12' v-if='signedIn'>
            <ul>
              <li v-for='job in jobs'> 
                ID: <span v-text='job.id'></span>,
                <span v-text='job.status'></span>,
                USER_ID: <span v-text='job.user_id'></span>,
                <span v-text='job.priority'></span>
              </li>
            </ul>
          </div>
      </div>

      <div>
      <template v-if='msg'>
      <div class='alert alert-warning' >
        <button type='button' class='close' data-dismiss='alert'> &times; </button>
        <span v-text='msg'> </span>
      </div>
      </template>
      </div>
    </div>
</div>
{% endblock %}
